.charts-list {
  width: 100%;
  margin: 50px auto 10px;

  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 0 20px;

    &-item {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px solid var(--accent);
    border-radius: 10px;
    color: var(--white);
    background: var(--black);

    &-input {
      border: none;
      outline: none;
      color: inherit;
      background: inherit;
    }

    &-clear {
      cursor: pointer;
      padding: 0;

      @media (hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  &__checkbox {
    display: none;

    &-checkmark {
      cursor: pointer;
      position: relative;
      width: 15px;
      height: 15px;
      border: 2px solid var(--accent);
      border-radius: 4px;
      background: var(--white);
      transition: background 0.2s ease;
    }

    &:checked+.charts-list__checkbox-checkmark {
      background: var(--accent);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 4px;
        width: 5px;
        height: 10px;
        border: solid var(--white);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}